@model Web.Models.ReplyViewModel

@Html.BeginForm("Reply", "Inbox", FormMethod.Post, new { @class = "inbox-compose form-horizontal", id = "ReplyForm" })
{
<div class="inbox-form-group mail-to">
    <label class="control-label">To:</label>
    <div class="controls controls-to">
        @Html.TextBoxFor(m => m.To, new { @class = "form-control", value = Model.To })
        <input type="text" class="form-control" name="to" value="">
    </div>
</div>
<div class="inbox-form-group">
    <label class="control-label">Subject:</label>
    <div class="controls">
        @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", value = Model.Subject })
    </div>
</div>
<div class="inbox-form-group">
    <div class="controls-row">
        @Html.TextAreaFor(m => m.Message, new { @class = "inbox-editor inbox-wysihtml5 form-control", rows = "12" })
        <!--blockquote content for reply message, the inner html of reply_email_content_body element will be appended into wysiwyg body. Please refer Inbox.js loadReply() function. -->
        <div id="reply_email_content_body" class="hide">
            <input type="text">
            <br>
            <br>
            <blockquote>
                @Model.ReplyingToMessage
            </blockquote>
        </div>
    </div>
</div>
<div class="inbox-compose-btn">
    <button class="btn blue btn-send" type="submit"><i class="fa fa-check"></i>Send</button>
    <button class="btn btn-danger btn-discard">Discard</button>
</div>
}